.start {
  display: grid;
  overflow: hidden;
  gap: 24px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 1fr;
  height: calc(100vh - 48px);
  padding: 24px 32px;
}

.existing-player-list {
  grid-column: 1 / 3;
  background-color: var(--lightgrey);
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.added-player-list {
  height: 100%;
  position: relative;
  overflow: hidden;
  grid-column: 3/7;
  padding-top: 32px;
}

.header-unselected-players {
  margin: 32px 0;
  color: var(--darkgrey);
}

.header-selected-players {
  margin: 0 0 16px;
  color: var(--darkgrey);
  justify-content: space-between;
  display: flex;
}

.deepblue-icon {
  top: 32px;
  position: fixed;
  right: 32px;
}

.start-btn {
  bottom: 32px;
  position: absolute;
  right: 32px;
  width: 300px;
}

.user-plus {
  width: 24px;
  height: 24px;
}

.header,
.bottom {
  justify-content: space-between;
  display: flex;
  padding: 0 32px;
}

.bottom {
  padding: 32px;
  flex-shrink: 0;
  display: inline-flex;
  height: 3%;
  position: sticky;
  top: calc(100vh - 30px);
}

.selected-player-list-scroll {
  overflow-y: auto;
  height: calc(100% - 80px);
  padding-right: 16px;
}

.unselected-players {
  padding: 0 32px;
  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: linear-gradient(var(--lightgrey) 30%, rgb(255 255 255 / 0%))
      center top,
    linear-gradient(rgb(255 255 255 / 0%), var(--lightgrey) 70%) center bottom,
    linear-gradient(rgb(0 0 0 / 20%), rgb(0 0 0 / 0%)) center top,
    linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 20%)) center bottom;
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.create-new-player-button {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--blue);
  align-items: center;
  display: flex;
  padding: 0 8px 0 0;
  gap: 10px;
}

.settings-cog {
  width: 24px;
  height: 24px;
}

.delete-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--lightgrey);
  border-radius: 16px;
  place-content: center center;
  display: grid;
  box-shadow: var(--box-shadow);
  padding: 32px;
  height: 80%;
}

.delete-overlay-content {
  width: 100%;
  overflow: auto;
  margin-bottom: 32px;
}

.create-player-overlay {
  padding: 96px 0;
  width: 71.7%;
}

.delete-player-overlay {
  width: 71.7%;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
}

.overlay-bottom {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  bottom: 0;
  position: absolute;
  height: 11.2%;
  background-color: var(--lightgrey);
  border-radius: 0 0 16px 16px;
}

.overlay-bottom-enabled {
  box-shadow: var(--box-shadow);
}

.delete-player-overlay-adjust {
  height: 80%;
}

.enabled {
  opacity: 0.4;
}

.list-count {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: right;
  align-self: flex-end;
  color: var(--middlegrey);
}

.overlay-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.hide {
  opacity: 0.5;
}

#error-message {
  color: #ff2001;
}
