.ExistingPlayerList {
    grid-column: 1 / 3;
    background-color: var(--lightgrey);
    padding-left: 24px;
    align-content: center;
    box-shadow: 15%;
}

.AddedPlayerList {
    grid-column: 3/7;
    padding-right: 24px;
    align-content: center;
}