.start {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(6, 1fr);
  height: 100vh;
}

.existingPlayerList {
  grid-column: 1 / 3;
  background-color: var(--lightgrey);
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.addedPlayerList {
  position: relative;
  grid-column: 3/7;
  padding-right: 24px;
  align-content: baseline;
}

.headerUnselectedPlayers {
  margin: 32px 0px;
  color: var(--darkgrey);
}

.headerSelectedPlayers {
  margin: 146px 0px 16px 0px;
  color: var(--darkgrey);
  justify-content: space-between;
  display: flex;
}

.deepblueIcon {
  top: 32px;
  position: fixed;
  right: 32px;
}

.startBtn {
  bottom: 32px;
  position: absolute;
  right: 32px;
  width: 300px;
}

.userPlus {
  width: 24px;
  height: 24px;
}

.header,
.bottom {
  justify-content: space-between;
  display: flex;
  padding: 0px 32px 0px 32px;
}

.bottom {
  padding: 32px;
  flex-shrink: 0;
  display: inline-flex;
  height: 3%;
  position: sticky;
  top: calc(100vh - 30px);
}

.unselectedPlayers {
  overflow: auto;
  max-height: 84.3vh;
  padding: 0px 32px 0px 32px;
  position: relative;
  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: linear-gradient(var(--lightgrey) 30%, rgba(255, 255, 255, 0))
      center top,
    linear-gradient(rgba(255, 255, 255, 0), var(--lightgrey) 70%) center bottom,
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) center top,
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)) center bottom;

  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.createNewPlayerButton {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--blue);
  align-items: center;
  display: flex;
  padding: 0px 8px 0px 0px;
  gap: 10px;
}

.settingsCog {
  width: 50px;
}

.deleteOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--lightgrey);
  border-radius: 16px;
  align-content: center;
  justify-content: center;
  display: grid;
  box-shadow: var(--box-shadow);
  padding: 32px;
  height: 80%;
}

.deleteOverlayContent {
  width: 100%;
  overflow: auto;
  margin-bottom: 32px;
}

.createPlayerOverlay {
  padding: 96px 0px 96px 0px;
  width: 71.7%;
}

.deletePlayerOverlay {
  width: 71.7%;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
}

.overlayBottom {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  bottom: 0px;
  position: absolute;
  height: 11.2%;
  background-color: var(--lightgrey);
  border-radius: 0px 0px 16px 16px;
}

.overlayBottomEnabled {
  box-shadow: var(--box-shadow);
}

.deletePlayerOverlayAdjust {
  height: 80%;
}

.enabled {
  opacity: 0.4;
}

.listCount {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: right;
  align-self: flex-end;
  color: var(--middlegrey);
}

.overlayHeading {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.hide {
  opacity: 0.5;
}
#error-message {
  color: #ff2001;
}
