.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--lightgrey);
    border-radius: 16px;
    width: 679px;
    height: 415px;
    align-content: center;
    justify-content: center;
    display: grid;
    box-shadow: 10px 10px 10px rgb(116, 116, 116);
}

.delete {
    justify-content: right;
    display: grid;
}