.Gamepage {
    gap: 10px;
    display: grid;
    margin-top: 100px;
}

.Roundcounter {
    width: 520px;
    height: 145px;
    left: 252px;
    top: 311px;
    background: #ff2001;
    border-radius: 15px;
    font-size: xxx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    border-radius: 5%;
}

.input {
    width: 50px;
}

.Numberstyle {
    margin: 50px 0px;
}

.row {
    display: flex;
}

.btn {
    width: 90px;
    height: 90px;
}

.specialButton {
    width: 360px;
    height: 50px;
    font-size: 30px;
}

.countdown {
    color: white;
}

.PlayerList {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.activePlayer {
    border: 1px solid hotpink;
}

.boxesvertical {
    display: flex;
}

.eachbox {
    height: 30px;
    width: 30px;
    background-color: white;
    border: solid gray;
    color: hotpink;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    max-width: 600px;
    min-width: 300px;
    border-radius: 20px;
    justify-content: center;
    display: grid;
}


.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.place {
    justify-content: center;
    display: flex;
}

.backspace {
    position: relative;
    left: 540px;
    top: -140px;
    width: 180px;
    height: 90px;
    font-size: 20px;
}