.page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.navRow {
  padding: var(--page-padding) var(--page-padding);
}

.navigation {
  margin-top: 25px;
}

.content {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
