stages:
  - build
  - check

variables:
  NPM_CONFIG_CACHE: .npm
  PLAYWRIGHT_BROWSERS_PATH: /root/.cache/ms-playwright

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_PIPELINE_SOURCE == "push"

.base_job: &base_job
  image: node:20
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - .npm/
      - /root/.cache/ms-playwright/
  before_script:
    - npm ci --cache .npm --prefer-offline

build:
  <<: *base_job
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - dist/
    expire_in: 1 week

eslint:
  <<: *base_job
  stage: check
  script:
    - npm run eslint

stylelint:
  <<: *base_job
  stage: check
  script:
    - npm run stylelint

prettier:
  <<: *base_job
  stage: check
  script:
    - npx prettier --check .

typecheck:
  <<: *base_job
  stage: check
  script:
    - npm run typecheck

secret_check:
  <<: *base_job
  stage: check
  script:
    - npm run secrets:check

unit_tests:
  <<: *base_job
  stage: check
  script:
    - npm test

e2e_tests:
  <<: *base_job
  stage: check
  script:
    - npx playwright install --with-deps chromium
    - npm run test:e2e
  artifacts:
    when: always
    paths:
      - playwright-report/
    expire_in: 1 week
