.gamePlayerItemContainer {
  padding: 133px 32px 0;
}

.top {
  left: 32px;
  top: 32px;
  position: absolute;
}

.finishGameOverlay {
  width: 71.7%;
  padding: 96px 0;
}

.undoThrow {
  justify-content: center;
  display: flex;
  margin-top: 28px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: 0.02em;
  text-align: left;
  gap: 8px;
}

.settingsBtn {
  right: 32px;
  top: 32px;
  position: absolute;
}

.overlayHeadline {
  font-weight: 700;
  line-height: 24px;
  color: #000;
  margin: 0;
}

.settingsOverlay {
  width: 100%;
  padding: 48px;
}

.settingsBodyContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 48px;
}

.keyboardAndUndo {
  position: fixed;
  width: 100%;
  bottom: 0;
}
