.gamePlayerItemContainer {
  padding: 133px 32px 0;
}

.gamePageHeader {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top {
  left: 32px;
  top: 32px;
  position: absolute;
}

.finishGameOverlay {
  width: 71.7%;
  padding: 96px 0;
}

.overlayBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightgrey);
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  padding: 48px 64px;
  width: auto;
  max-width: 600px;
}

.overlayHeading {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--darkblue);
  margin-bottom: 32px;
}

.undoThrow {
  justify-content: center;
  display: flex;
  margin-top: 28px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: 0.02em;
  text-align: left;
  gap: 8px;
}

.settingsBtn {
  right: 32px;
  top: 32px;
  position: absolute;
}

.overlayHeadline {
  font-weight: 700;
  line-height: 24px;
  color: #000;
  margin: 0;
}

.settingsOverlay {
  width: 100%;
  padding: 48px;
}

.settingsBodyContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 48px;
}

.keyboardAndUndo {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.errorText {
  margin-top: 10px;
  color: #d00000;
  font-size: 14px;
  text-align: center;
}
