.btn {
  border: none;
  color: var(--white);
  width: 100%;
  height: 56px;
  padding: 16px 0 0;
  gap: 8px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: 0.02em;
  text-align: left;
  justify-content: center;
  display: flex;
  margin-top: 24px;
}

.btn-primary {
  background-color: var(--blue);
}

.btn-secondary {
  background-color: var(--red);
}

.inverted {
  background-color: transparent;
  border: 3px solid var(--blue);
  color: var(--blue);
}

.inverted-secondary {
  background-color: transparent;
  border: 3px solid var(--red);
  color: var(--red);
}

.disabled {
  opacity: 0.5;
}

.no-underline {
  text-decoration: none;
}

.delete-overlay-button {
  width: 65%;
  margin-top: 0;
}
