.settingsContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  align-items: center;

  .gameSettings {
    font-weight: 700;
    font-size: 20px;
  }

  .buttonContainer {
    grid-column: 3 / 7;
    display: flex;
    border: 1px solid var(--middlegrey);
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    height: 44px;

    .settingsButton {
      flex: 1;
      padding: 10px 15px;
      border: none;
      background: var(--white);
      font-size: 14px;
      border-right: 1px solid var(--middlegrey);
      max-height: 60px;
      text-align: center;
    }

    .settingsButton:last-child {
      border-right: none;
    }

    .settingsButton.active {
      background-color: var(--blue);
      color: var(--white);
    }
  }
}
