.navigation {
  grid-column: 1 / -1;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 20px 0 #00000026;
  border-radius: 9999px;
  height: 48px;
}

.tabButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 16px;
  padding: 8px 16px;
  border: none;
  color: var(--darkblue);
  border-radius: 9999px;
  background: transparent;
  transition: all 0.2s ease;
}

.tabButton span {
  display: flex;
  align-items: center;
  font-family: CircularXX, sans-serif;
  font-size: 16px;
  gap: 16px;
}

.tabButton.active {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 700;
}

.tabButton.inactive {
  color: var(--darkblue);
  font-weight: 700;
}

.deepblueIcon {
  top: 32px;
  position: fixed;
  right: 32px;
}
