.selectedPlayerItem,
.unselectedPlayerItem {
  width: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--middlegrey);
  padding: 24px 8px;
}

.selectedPlayerItem {
  touch-action: none;
}

.deleteButton,
.moveButton {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
}

.deleteButton img {
  width: 100%;
  padding: 1px;
}

.playerMain {
  display: flex;
  gap: 16px;
  background: white;
  align-items: center;
}

.moveIcon {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  display: block;
}

.playerName {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  width: 7em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (width <= 600px) {
  .playerName {
    font-size: 18px;
    line-height: 22px;
  }

  .moveIcon {
    width: 22px;
    height: 22px;
    flex-basis: 22px;
  }
}

.fadeOut {
  animation: fadeOut 0.2s ease-in-out forwards;
}

.appear {
  animation: appear 0.2s ease-in-out forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
