.deleteOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--lightgrey);
    border-radius: 16px;
    align-content: center;
    justify-content: center;
    display: grid;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 32px;
    height: 80%;
}

.delete {
    right: 32px;
    position: absolute;
    top: 32px;
}

.deleteOverlayContent {
    width: 486px;
    max-height: 900px;
    overflow: auto;
    left: 96px;
    position: relative;
    -webkit-overflow-scrolling: touch;
    background:

        linear-gradient(var(--lightgrey) 30%,
            rgba(255, 255, 255, 0)) center top,

        linear-gradient(rgba(255, 255, 255, 0),
            var(--lightgrey) 70%) center bottom,

        linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)) center top,

        linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.2)) center bottom;

    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment: local, local, scroll, scroll;
}

.overlayBottom {
    padding: 32px 96px 32px 96px;
    width: 486px;
}

.overlayTop {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    padding: 64px 96px 24px 96px;
}

.overlayBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
}