.link {
    font-family: "CircularXX";
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--blue);
    align-items: center;
    display: flex;
    bottom: 32px;
    position: fixed;
    padding: 0px 8px 0px 0px;
    gap: 10px;
}