.gameOverview {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
}

.overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(472px, 1fr));
  gap: 16px;
}

.gameContainer {
  background-color: var(--lightgrey);
  border-radius: 24px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.gameCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.gameCard p {
  margin: 0;
}

.gameContainer h4 {
  margin: 0 0 32px;
}

.detailsLink {
  padding: 0 14px 14px 0;
  display: flex;
  align-items: end;
}

.detailsLink a {
  color: #000;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
