.game-overview {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
}

.overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(472px, 1fr));
  gap: 16px;
}

.game-container {
  background-color: var(--lightgrey);
  border-radius: 24px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.game-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.game-card p {
  margin: 0;
}

.game-container h4 {
  margin: 0 0 32px;
}

.details-link {
  padding: 0 14px 14px 0;
  display: flex;
  align-items: end;
}

.details-link a {
  color: #000;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
