.playerstatsContainer {
  background-color: var(--white);
  padding: var(--page-padding);
}

.navigationItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sortOptions {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-md);
  background-color: var(--lightgrey);
  min-height: var(--nav-height);
  padding: var(--space-xs) var(--space-sm);
  border-radius: 100px;
  gap: var(--space-xs);
  flex-wrap: wrap;
}

.sortButton {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  background: none;
  border: none;
  cursor: pointer;
  font-size: var(--font-size-16);
  font-weight: 700;
  color: var(--darkblue);
}

.sortButton.activeBtn {
  color: var(--blue);
}

.sortIcon {
  font-size: var(--font-size-18);
}

.separator {
  margin: 0 var(--space-xs);
  color: #ccc;
}

.playerList {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.playerRow {
  display: flex;
  align-items: center;
  padding: var(--space-sm) var(--space-md);
  background-color: var(--lightgrey);
  border-radius: 8px;
  gap: var(--space-sm);
  flex-wrap: wrap;
}

.playerNumber {
  padding-right: var(--space-sm);
  font-weight: 400;
  font-size: var(--font-size-20);
  color: var(--darkgrey);
}

.playerName {
  flex: 1;
  font-weight: 700;
  font-size: var(--font-size-20);
}

.playerStats {
  display: flex;
  gap: var(--space-lg);
  flex-wrap: wrap;
}

.roundStat,
.gamesStat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.statLabel {
  font-size: var(--font-size-20);
  color: var(--darkgrey);
}

.statValue {
  font-weight: 700;
  font-size: var(--font-size-20);
  color: var(--darkblue);
}

@media (width <= 600px) {
  .playerRow {
    align-items: flex-start;
  }

  .playerStats {
    width: 100%;
    justify-content: space-between;
    gap: var(--space-md);
  }

  .roundStat,
  .gamesStat {
    align-items: flex-start;
  }
}
