.playerstatsContainer {
  background-color: var(--white);
  padding: 24px 32px;
}

.navigationItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sortOptions {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: var(--lightgrey);
  height: 40px;
  padding: 8px 16px;
  border-radius: 100px;
}

.sortButton {
  display: flex;
  align-items: center;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: var(--darkblue);
}

.sortButton.activeBtn {
  color: var(--blue);
}

.sortIcon {
  font-size: 18px;
}

.separator {
  margin: 0 10px;
  color: #ccc;
}

.playerList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.playerRow {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  background-color: var(--lightgrey);
  border-radius: 8px;
}

.playerNumber {
  padding-right: 16px;
  font-weight: 400;
  font-size: 20px;
  color: var(--darkgrey);
}

.playerName {
  flex: 1;
  font-weight: 700;
  font-size: 20px;
}

.playerStats {
  display: flex;
  gap: 30px;
}

.roundStat,
.gamesStat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.statLabel {
  font-size: 20px;
  color: var(--darkgrey);
}

.statValue {
  font-weight: 700;
  font-size: 20px;
  color: var(--darkblue);
}
