.navigation {
  grid-column: 1 / -1;
  display: flex;
  margin-top: var(--space-lg);
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 20px 0 #00000026;
  border-radius: 9999px;
  height: var(--nav-height);
}

.navItems {
  display: contents;
}

.tabButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: var(--space-sm);
  padding: 6px var(--space-sm);
  border: none;
  color: var(--darkblue);
  border-radius: 9999px;
  background: transparent;
  transition: all 0.2s ease;
}

.tabContent {
  display: flex;
  align-items: center;
  font-family: CircularXX, sans-serif;
  font-size: var(--font-size-16);
  gap: var(--space-sm);
}

.tabButton.active {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 700;
}

.tabButton.inactive {
  color: var(--darkblue);
  font-weight: 700;
}

.deepblueIcon {
  top: var(--space-md);
  position: fixed;
  right: var(--space-md);
}

@media (width <= 600px) {
  .navigation {
    margin-top: var(--space-md);
    padding: 0 var(--space-xs);
  }

  .navItems {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
  }

  .tabContent {
    font-size: var(--font-size-14);
  }

  .tabContent img {
    width: 18px;
    height: 18px;
  }

  .tabLabel {
    display: none;
  }

  .deepblueIcon {
    position: static;
    width: 90px;
    height: 90px;
    margin-left: 8px;
  }
}
