.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 520px;
}

.box {
  background-color: #000021;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  color: rgb(255, 255, 255);
  list-style-type: none;
  min-height: 430px;
}

.startButton {
  height: 111px;
  padding-left: 30px;
  background: #000021;
  border-radius: 20px;
  align-items: center;
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 100%;
  color: #FFFFFF;
  text-decoration: none;
}

.Addbutton {
  font-size: xx-large;
  width: 100%;
  height: 140px;
  background: #D9D9D9;
  border-radius: 15px;
}

.Playerinput {
  width: 348px;
  height: 135px;
  border-radius: 15px;
  font-size: xxx-large;
  color: white;
  background: black;

}

.deletebutton {
  position: absolute;
  left: 60%;
}

.inputadd {
  align-items: center;
  display: flex;
  width: 520px;
}

.maximumreach {
  color: white;

}