.gamePlayerItem {
    top: 133px;
    position: absolute;
    right: 32px;
    left: 32px;
    width: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--middlegrey);
    padding: 24px 8px 24px 8px;
    align-items: center;
}

.throwDisplay {
    gap: 16px;
    display: flex;
}

.divDisplay {
    width: 41px;
    height: 31px;
    padding: 7px 13px 7px 13px;
    border-radius: 4px;
    background-color: var(--lightgrey);
}

.score {
    gap: 8px;
    display: grid;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.results {
    justify-content: space-between;
    display: flex;
    gap: 48px;
    align-items: center;
}