.gamePlayerItem {
    width: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--middlegrey);
    padding: 24px 8px 24px 8px;
    align-items: center;
}

.throwDisplay {
    gap: 16px;
    display: flex;
    width: 200px;
}

.divDisplay {
    color: var(--darkblue);
    width: 41px;
    height: 31px;
    padding: 7px 13px 7px 13px;
    border-radius: 4px;
    background-color: var(--lightgrey);
    align-items: center;
    justify-content: center;
    display: flex;
}

.pointer {
    gap: 8px;
    display: flex;
    width: 110px;
}

.throws {
    justify-content: space-between;
    display: flex;
    gap: 48px;
    align-items: center;
}

.activePlayer {
    border-left: 16px solid var(--blue);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--blue);
}

.valueDisplay {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: var(--darkblue);
}

.scoreDisplay {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: var(--darkgrey);
}