.defaultInputField {
    background: var(--white);
    text-decoration: none;
    border-radius: 8px;
    color: var(--darkgrey);
    border: none;
    height: 56px;
    width: 100%;
    padding: 0;
}