.summary {
  display: grid;
  padding: 32px;
  grid-template-columns: repeat(10, 1fr);
  gap: 16px;
  grid-template-rows: 1fr auto 2fr;
  inset: 0;
  position: absolute;
}

.leader-board {
  grid-row: 2;
  grid-column: 1 / span 10;
}

.back-to-start-button {
  grid-row: 3;
  align-self: end;
  grid-column: 8 / span 3;
  padding-bottom: 32px;
}

.play-again-button {
  grid-row: 3;
  grid-column: 5 / span 3;
  align-self: end;
  padding-bottom: 32px;
}

.podium-board {
  padding: 133px 0 96px;
  grid-column: 2 / span 8;
}
