@font-face {
    font-family: "CircularXX";
    src: local("CircularXX"),
        url("../fonts/circularXX/CircularXXSub-Regular.woff") format("woff");
}

.DefaultInputField {
    background: var(--white);
    text-decoration: none;
    border-radius: 8px;
    padding: 0px 8px 0px 8px;
    color: var(--darkgrey);
    border: none;
    height: 56px;
    width: 376px;
    font-family: "CircularXX";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.PlayerInputButtonPB {
    background-color: var(--blue);
    border: none;
    color: var(--white);
    width: 392px;
    height: 56px;
    padding: 16px 0px 0px 0px;
    gap: 8px;
    border-radius: 8px;
    font-family: "CircularXX";
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: left;
    justify-content: center;
    display: flex;
    margin-top: 24px;
}

.selectedPlayerItem,
.unselectedPlayerItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--middlegrey);
    padding: 24px 8px;
}

.selectedPlayerItem :first-child {
    display: flex;
    gap: 16px
}

.userplus {
    width: 24px;
    height: 24px;
}

.link {
    font-family: "CircularXX";
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--blue);
    align-items: center;
    display: flex;
    bottom: 24px;
    position: fixed;
    padding: 0px 8px 0px 0px;
    gap: 10px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--lightgrey);
    border-radius: 16px;
    width: 679px;
    height: 415px;
    align-content: center;
    justify-content: center;
    display: grid;
    box-shadow: 10px 10px 10px rgb(116, 116, 116);
}

.delete {
    justify-content: right;
    display: grid;
}