@font-face {
    font-family: "CircularXX";
    src: local("CircularXX"),
        url("../fonts/circularXX/CircularXXSub-Regular.woff") format("woff");
}

.DefaultInputField {
    background: var(--lightgrey);
    text-decoration: none;
    border-radius: 8px;
    padding: 16px 8px 16px 8px;
    color: var(--darkgrey);
    border: none;
    height: 56px;
    width: 376px;
    font-family: "CircularXX";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.PlayerInputButtonPB {
    background-color: var(--blue);
    border: none;
    color: var(--white);
    width: 203px;
    height: 61px;
    padding: 16px 0px 0px 0px;
    gap: 8px;
    border-radius: 8px;
    font-family: "CircularXX";
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: left;
    justify-content: center;
    display: flex;
}

.selectedPlayerItem,
.unselectedPlayerItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--middlegrey);
    padding: 24px 8px;
}

.unselectedPlayerItem {
    max-width: 267px;
}

.selectedPlayerItem :first-child {
    display: flex;
    gap: 16px
}

.userplus {
    width: 24px;
    height: 24px;
}