.keyboard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  border-radius: 16px;
  overflow: hidden;
}

.button {
  background: var(--lightgrey);
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: var(--white);
  height: clamp(48px, 8vw, 80px);
  font-weight: 700;
  color: var(--darkblue);
  cursor: pointer;
}

.undo,
.triple,
.double {
  background-color: var(--oxfordblue);
  color: var(--white);
}

.undo {
  grid-column-start: 6;
  border-radius: 100px;
  width: 100%;
  margin: 0;
}

@media (width > 900px) {
  .undo {
    width: clamp(56px, 12vw, 84px);
    height: clamp(44px, 6vw, 56px);
  }
}

.active {
  background-color: var(--blue);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button:active:not(.disabled) {
  background-color: var(--blue);
  color: var(--white);
}

.copylarge {
  font-size: var(--font-size-20);
}
