.banner {
    width: 519px;
    height: 89px;
    background: #000000;
    border-radius: 15px;
    margin-top: 21px;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
}

.scoreboard {}