.selectedPlayerItem,
.unselectedPlayerItem {
    width: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--middlegrey);
    padding: 24px 8px;
}

.selectedPlayerItem :first-child {
    display: flex;
    gap: 16px
}