.pagination {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: list-item;
}

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-radius: 0.5rem;
  text-decoration: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-weight: 500;
  outline: none;
}

.link:focus-visible {
  outline: 2px solid currentcolor;
  outline-offset: 2px;
}

.linkIcon {
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
}

.linkDefault {
  height: 2.25rem;
  padding: 0 0.625rem;
}

.ghost {
  background: transparent;
  border: 1px solid transparent;
}

.ghost:hover {
  background: rgb(0 0 0 / 6%);
}

.outline {
  background: transparent;
  border: 1px solid rgb(0 0 0 / 22%);
}

.outline:hover {
  background: rgb(0 0 0 / 4%);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.prevNext {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.prevNextText {
  display: none;
}

@media (width >= 640px) {
  .prevNextText {
    display: inline;
  }
}

.ellipsis {
  display: flex;
  width: 2.25rem;
  height: 2.25rem;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 1rem;
  height: 1rem;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
