@font-face {
    font-family: "CircularXX";
    src: url("../fonts/circularXX/CircularXXWeb-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "CircularXX";
    src: url("../fonts/circularXX/CircularXXWeb-Bold.woff") format("woff");
    font-weight: 700;
}

:root {
    --white: #FFFFFF;
    --lightgrey: #F1F1F1;
    --middlegrey: #A7A7A7;
    --darkgrey: #5F5F5F;
    --red: #FF2001;
    --blue: #0000DB;
    --oxfordBlue: #2D3944;
    --darkblue: #000021;

    --padding-xs: 8px;
    --padding-sm: 16px;
    --padding-md: 24px;
    --padding-lg: 48px;
    --padding-xl: 64px;
    --padding-2xl: 80px;
    --padding-3xl: 96px;

    --box-shadow: 0px 0px 37px 6px rgba(0, 0, 0, 0.3);

}

body {
    margin: 0;
    font-family: "CircularXX";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    letter-spacing: 0.02em;
    text-align: left;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 43.2px;
    letter-spacing: 0.02em;
    text-align: left;
}

h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    letter-spacing: 0.02em;
    text-align: left;
}


h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: left;
}

h5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: 0.02em;
    text-align: left;
}

.copylarge {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.copydefault {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}

.copysmall {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: left;
}

.App {
    height: 100vh;
}

.overflowHidden {
    overflow: hidden;
}