:root {
    --white: #FFFFFF;
    --lightgrey: #F1F1F1;
    --middlegrey: #A7A7A7;
    --darkgrey: #5F5F5F;
    --red: #FF2001;
    --blue: #0000DB;
    --oxfordBlue: #2D3944;
    --darkblue: #000021;

    --padding-xs: 8px;
    --padding-sm: 16px;
    --padding-md: 24px;
    --padding-lg: 48px;
    --padding-xl: 64px;
    --padding-2xl: 80px;
    --padding-3xl: 96px;
}

.copylarge {
    font-family: "CircularXX";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

.copydefault {
    font-family: "CircularXX";
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}

.copysmall {
    font-family: "CircularXX";
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: left;
}

h1 {
    font-family: "CircularXX";
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    letter-spacing: 0.02em;
    text-align: left;
}

h2 {
    font-family: "CircularXX";
    font-size: 36px;
    font-weight: 700;
    line-height: 43.2px;
    letter-spacing: 0.02em;
    text-align: left;

}

h3 {
    font-family: "CircularXX";
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    letter-spacing: 0.02em;
    text-align: left;
}


h4 {
    font-family: "CircularXX";
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: left;
}

h5 {
    font-family: "CircularXX";
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: 0.02em;
    text-align: left;
}