.keyboard-and-undo {
    position: fixed;
    width: 100%;
    bottom: 0;
}
.keyboard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: var(--white);
}

.button {
  background: var(--lightgrey);
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: var(--white);
  height: 80px;
  font-weight: 700;
  color: var(--darkblue);
}

.undo,
.triple,
.double {
  background-color: var(--oxfordBlue);
  color: white;
}

.undo {
  grid-column-start: 6;
  border-radius: 100px;
  width: 80px;
  margin-left: auto;
  margin-right: 16px;
  margin-bottom: 16px;
}

.active {
  background-color: var(--blue);
}

.disabled {
  opacity: 0.5;
}

.button:active {
  background-color: var(--oxfordBlue);
  transition: background-color 0.2s ease;
  color: #ffffff;
}
