.keyboardContainer {
    display: grid;
    grid-template-columns: repeat(7, 15%);
    grid-template-rows: repeat(4, 30%);
    width: 100%;
    height: 23.2%;
}

.keyboardButton {
    background-color: var(--lightgrey);
    align-items: center;
    display: grid;
    justify-content: center;
    font-family: "CircularXX";
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: left;
    border-style: solid;
    border-color: var(--white, #FFFFFF)
}

.keyboardButtonSpecial {
    background-color: var(--darkgrey);
    color: var(--white);
    align-items: center;
    display: grid;
    justify-content: center;
    font-family: "CircularXX";
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: left;
    border-style: solid;
    border-color: var(--white, #FFFFFF)
}