.keyboardContainer {
    display: grid;
    grid-template-columns: repeat(7, 15%);
    grid-template-rows: repeat(4, 30%);
    width: 100%;
    height: 23.2%;
}

.buttonBox {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.button {
    background: var(--lightgrey);
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0px, 1px, 1px, 0px;
    border-style: solid;
    border-color: var(--white, #FFFFFF);
    height: 80px;
}

.undo {
    background-color: var(--darkgrey);
    color: white;
    grid-column: 6/8;
}

.triple {
    background-color: var(--darkgrey);
    color: white;
    grid-column: 4/6;
}

.double {
    background-color: var(--darkgrey);
    color: white;
    grid-column: 2/4;
}

.button:active {
    background-color: var(--darkgrey);
    transition: background-color 0.2s ease;
}

.undo:active {
    background-color: var(--lightgrey);
    transition: background-color 0.2s ease;

}

.triple:active {
    background-color: var(--lightgrey);
    transition: background-color 0.2s ease;
}

.double:active {
    background-color: var(--lightgrey);
    transition: background-color 0.2s ease;
}