.overlayBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: var(--lightgrey);
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  padding: 48px 113px;
  width: 66%;
  min-height: 30%;
  max-height: 80%;
}

.delete {
  right: 32px;
  position: absolute;
  top: 32px;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  cursor: pointer;
}

.delete:focus {
  outline: none;
}

.delete img {
  width: 100%;
  padding: 1px;
}

.overlayBackground {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgb(0 0 0 / 40%);
  z-index: 1000;
}
