.gamePlayerItemContainer {
    padding: 133px 32px 0px 32px;
}

.top {
    left: 32px;
    top: 32px;
    position: absolute;
}

.finishGameOverlay {
    width: 71.7%;
    padding: 96px 0px 96px 0px;
}