.App {
  background-color: #0000DB;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  justify-content: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 520px;
}

.Todobox {
  background-color: #000021;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  color: rgb(255, 255, 255);
  list-style-type: none;
  min-height: 430px;
}

.startButton {
  height: 111px;
  padding-left: 30px;
  color: white;
  background: #000021;
  border-radius: 20px;
  align-items: center;
  display: flex;
  font-size: 48px;
}

.Addbutton {
  position: absolute;
  width: 153px;
  height: 140px;
  left: 618px;
  top: 200px;

  background: #D9D9D9;
  border-radius: 15px;

}

.Playerinput {
  position: absolute;
  width: 348px;
  height: 130px;
  left: 256px;
  top: 200px;
  border-radius: 15px;
  font-size: xxx-large;
  color: white;
  background: black;

}

.deletebutton {
  position: absolute;
  left: 60%;
}