.overlayBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: var(--lightgrey);
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  padding: var(--panel-padding);
  width: min(90vw, 720px);
  min-height: min(30%, 240px);
  max-height: 80dvh;
}

.delete {
  right: var(--space-md);
  position: absolute;
  top: var(--space-md);
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  cursor: pointer;
}

.delete:focus {
  outline: none;
}

.delete img {
  width: 100%;
  padding: 1px;
}

.overlayBackground {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 40%);
  z-index: 2000;
}
