.gameDetails {
  padding: var(--page-padding);
}

.linkBtn {
  margin: var(--space-xl) 0 0;
}

.podiumCard {
  display: flex;
  flex-direction: column;
}

.playerboardList {
  margin-top: var(--space-xl);
}

.dateInfo h1 {
  margin-bottom: 0;
}

.dateInfo h3 {
  margin-top: 0;
}
