@font-face {
    font-family: "CircularXX";
    src: local("CircularXX"),
        url("./CircularXXWeb-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "CircularXX";
    src: local("CircularXX"),
        url("./CircularXXWeb-Bold.woff") format("woff");
    font-weight: 700;
}