.settingsBtn {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--blue);
    align-items: center;
    position: absolute;
    top: 32px;
    right: 32px;
    width: 300px;
    display: flex;
    padding: 0px 8px 0px 0px;
    gap: 10px;
  }
  
  .settingsOverlayBtn {
    width: 100%;
  }
  
  .settingsOverlay {
    grid-column: 1/-1;
    width: 100%;
  }
  
  .settingsContainer {
  
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 8px 0;
  }
  
  .settingsContainer > div:first-child {
    grid-column: span 4;
    }
  
  .buttonContainer {
    grid-column: span 8;
    display: flex;
    width: 100%;
    justify-content: stretch;
  }
  
  .buttonContainer button {
    flex: 1;
    padding: 8px 0;
  }
  
  .active {
    color: white;
    background-color: var(--blue);
  }
  