.leader-board {
  color: var(--darkgrey);
}

.player-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.player-statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-right: 8px;
}

.rounds {
  color: var(--darkgrey);
  display: flex;
  align-items: center;
  gap: 8px;
}

.number-display {
  width: 40px;
  color: var(--darkblue);
}

.overview-player-item {
  width: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--middlegrey);
  padding: 24px 8px;
  align-items: center;
  height: 53px;
}
